{# src/Blogger/BlogBundle/Resources/views/Blog/addBlog.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Написать статью{% endblock%}

{% block body %}
    <header>
        <h1>Написать статью</h1>
    </header>
    
    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div> 
    {% endfor %}

    <p>Для публикации статьи, заполните, пожалуйста, форму:</p>
    
    <form action="{{ path('blogger_page_post') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.author) }}
        {{ form_row(form.title) }}
        {{ form_row(form.blog) }}
        {{ form_row(form.file) }}
        {{ form_row(form.tags) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}