{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Контакты{% endblock%}

{% block body %}
    <header>
        <h1>Contact symblog</h1>
    </header>
    
    {% for flashMessage in app.session.flashbag.get('blogger-notice') %}
    <div class="blogger-notice">
    {{ flashMessage }}
    </div> 
    {% endfor %}

    <p>Чтобы с нами связаться, заполните, пожалуйста, форму:</p>
    
    <form action="{{ path('blogger_page_contact') }}" method="post" {{ form_enctype(form) }} class="blogger">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}